@import url('https://fonts.google.com/specimen/DM+Serif+Display');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-font: 'DM Serif Display', serif;
    --body-font: 'Karla', serif;
    --very-dark-violet: #2b272f;
    --dark-violet: #2d2640;
    --light-violet: #2c2640;
    --grey-violet: #837d87;
    --light-grey: #fafafa;
    --red-border: 1px solid red;
    --coral-backround: coral;
}

/* templates */
html {
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--grey-violet);
    scroll-behavior: smooth;
}

section {
    padding: 3.9rem 0;
}

img,
picture {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

.container {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

.pattern {
    position: absolute;
    height: 100%;
}

.btn {
    font-size: 1.2rem;
    font-family: var(--body-font);
    padding: 0.9rem 2.2rem;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-light {
    color: var(--very-dark-violet);
    background: #fff;
    border: 1px solid var(--very-dark-violet);
    transition: background 0.8s;
}

.btn-light:hover,
.btn-light:focus {
    color: #fff;
    background: var(--very-dark-violet);
    border: 1px solid #fff;
}

.btn-dark {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    transition: background 0.8s;
}

.btn-dark:hover,
.btn-dark:focus {
    color: var(--very-dark-violet);
    background: #fff;
    border: 1px solid var(--very-dark-violet);
}

/* header */
header {
    width: 100vw;
    background-color: #fff;
    z-index: 2;
}

nav {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle {
    display: none;
}

.nav-list {
    list-style: none;
    width: 43%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--grey-violet);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: color 1s;
}

.nav-link:hover {
    color: var(--dark-violet);
}

.nav-link button {
    color: var(--very-dark-violet);
    border: 1px solid var(--very-dark-violet);
}



/* hero section*/
.hero {
    width: 100%;
    position: relative;
    background: var(--dark-violet);
}

.hero .pattern {
    max-height: 80%;
    top: 0;
    right: 0;
    z-index: 3;
}

.hero .pattern img {
    height: 100%;
}

.hero-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 5rem 0;
}

.hero-content .hero-text {
    color: #fff;
    padding: 0 2rem 6rem 0;
}

.hero-text h3 {
    font-family: var(--header-font);
    font-size: 6.4rem;
    margin-bottom: 2rem;
    position: relative;
    padding-top: 4rem;
}

.hero-text h3::before {
    content: '';
    width: 12rem;
    height: 0.5px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-text p {
    font-family: var(--body-font);
    padding-bottom: 2rem;
    line-height: 28px;
}

.hero-content picture {
    margin-bottom: -22rem;
    z-index: 2;
}

/* main section */
.main {
    position: relative;
    background: #fff;
    padding-top: 20rem;
}

.main .pattern {
    max-height: 40%;
    top: -25%;
    left: 0;
}

.first h3 {
    font-family: var(--header-font);
    font-size: 6.4rem;
    margin-bottom: 2rem;
    position: relative;
    padding-top: 4rem;
    color: var(--dark-violet);
}

.first h3::before {
    content: '';
    width: 12rem;
    height: 0.5px;
    background: var(--grey-violet);
    position: absolute;
    top: 0;
    left: 0;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    width: 95%;
    padding: 5rem 0 6rem 0;
}

.feature img {
    width: 6rem;
    padding-bottom: 2rem;
}

.feature h5 {
    font-family: var(--header-font);
    font-size: 1.6rem;
    color: var(--dark-violet);
    letter-spacing: 1px;
    padding-bottom: 1.8rem;
}

.feature p {
    font-size: 1.2rem;
    line-height: 18px;
}

/* how we work */
.how-we-work {
    margin-bottom: 8em;
}

.how-we-work .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark-violet);
    padding: 6rem 18rem 6rem 10rem;
}

.how-we-work .pattern {
    max-height: 100%;
    top: 0;
    right: 0;
}

.how-we-work .pattern img {
    height: 100%;
}

.how-we-work h3 {
    font-family: var(--header-font);
    font-size: 4rem;
    position: relative;
    color: #fff;
}

.how-we-work button {
    position: relative;
    z-index: 3;
}

/* footer */
footer {
    background: var(--light-grey);
    padding: 3.9rem 0;
    position: relative;
}

footer .pattern {
    max-height: 100%;
    top: 0;
    left: 0;
}

footer .pattern img {
    height: 100%;
}

.back-to-top {
    width: 7rem;
    height: 7rem;
    background-color: var(--light-violet);
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.back-to-top i {
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 2rem 2.7rem;
}

footer .social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
    border-bottom: 0.5px solid rgba(131, 125, 135, 0.5);
    z-index: 2;
    position: relative;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.social-icons i {
    padding: 0.8rem 0.6rem;
    font-size: 2rem;
    color: var(--grey-violet);
    transition: color 1s;
}

.social-icons i:hover,
.social-icons i:focus {
    color: var(--dark-violet);
}

.links {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    position: relative;
    z-index: 2;
}

.links dl {
    justify-self: flex-start;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.links dt {
    padding-bottom: 2rem;
}
.links dd {
    padding-bottom: 0.8rem;
}

.links a {
    color: var(--dark-violet);
}

.links dd:hover,
.links dd:focus {
    text-decoration: underline;
}

.attribution {
    text-align: center;
    position: relative;
    z-index: 5;
}

@media screen and (max-width: 768px) {
    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: auto;
    }

    /* .feature {
        margin-bottom: 5rem;
        padding: 0 8rem;
    } */

    .feature {
        margin-bottom: 5rem;
        padding: initial;
    }

    /* footer section */
    footer {
        padding: 6rem 0;
    }

    footer .pattern img {
        height: 17%;
    }

    footer .social-media {
        display: flex;
        flex-direction: column;
    }

    .social-media > a {
        padding-bottom: 1.5rem;
    }

    .links {
        display: initial;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .links dl {
        padding: 2rem;
    }
}

@media screen and (max-width: 900px) {
    section {
        padding: initial;
    }

    header.container {
        margin: 0;
        position: relative;
        padding: 0;
    }

    nav {
        width: 100vw;
        /* padding: 0 1.5rem; */
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    nav .nav-toggle {
        display: initial;
    }

    .nav-toggle i {
        font-size: 2.2rem;
        cursor: pointer;
        color: var(--dark-violet);
    }

    .nav-toggle i,
    .nav-brand {
        padding: 1rem 2rem;
    }

    .fa-times {
        display: none;
    }
    
    .open .fa-bars {
        display: none;
    }

    .open .fa-times {
        display: initial;
    }
    
    .open .nav-list {
        transform: translateX(0);
    }

    .nav-list {
        position: absolute;
        flex-direction: column;
        margin: initial;
        width: 100vw !important;
        margin: 0;
        background: var(--dark-violet);
        height: calc(100vh - 8rem);
        top: 8rem;
        z-index: 1500;
        justify-content: space-evenly;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }

    .nav-link {
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-link:hover {
        color: var(--grey-violet);
    }

    .nav-link button {
        font-size: 1.5rem;
    }

    .hero .container {
        padding: initial;
        width: initial;
    }

    /* hero section  */
    .hero .pattern {
        bottom: -70%;
        top: initial;
    }

    .hero .pattern img {
        height: 30%;
        display: none;
    }

    .hero-content {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
    }

    .hero-content picture {
        margin-bottom: initial;
        z-index: 0;
    }

    .hero-content .hero-text {
        text-align: center;
        padding: 10rem 3rem;
    }

    .hero-text h3 {
        padding-top: initial;
        font-size: 4rem;
    }

    .hero-text h3::before {
        display: none;
    }

    /* main section */
    .main {
        padding-top: 10rem;
        text-align: center;
    }

    .main .pattern {
        display: none;
    }

    .first h3 {
        font-size: 4rem;
    }

    .first h3::before {
        left: 50%;
        transform: translateX(-50%);
        width: 35%;
    }

    /* how we work section */
    .how-we-work .container {
        flex-direction: column;
        padding: 6rem 2rem;
        text-align: center;
    }

    .how-we-work h3 {
        padding-bottom: 3rem;
    }
}
